<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
</head>
<body>
      <h1>Hello</h1>
      <a href="{% url 'serviceProvider:sp-logout' %}">Logout</a>
      <form class="ui form" style="padding: 50px;" method="POST" action="{% url 'serviceProvider:update-sp-registration' %}">
        {% csrf_token %}
        <h4 class="ui dividing header">Information</h4>
        <div class="field">
          <label>Name</label>
          <div class="two fields">
            <div class="field">
              <input type="text" name="first-name" value= "{{ data.name }}" required >
            </div>
            <div class="field">
              <input type="text" name="last-name" value= "{{ data.name }}" required>
            </div>
          </div>
        </div>
        <div class="field">
            <label>Compnay Name [If Any?]</label>
            <div class="two fields">
              <div class="field">
                <input type="text" name="company" value="{{ data.company }}">
              </div>
              <div class="field">
                <input type="text" name="trade-licence" value="{{ data.tradelicence}}" >
              </div>
            </div>
          </div>
        <div class="field">
          <label>Address</label>
          <div class="fields">
            <div class="twelve wide field">
              <input type="text" name="address" value="{{ data.address }}" required>
            </div>
            <div class="four wide field">
              <input type="text" name="zip-code" value="{{ data.zipcode }}" >
            </div>
          </div>
        </div>
        <div class="field">
            <label>Contact Information</label>
            <div class="two fields">
              <div class="field">
                <input type="text" name="phone-number" value="{{ data.phonenumber}}" required>
              </div>
              <div class="field">
                <input type="text" name="email" value= "{{ data.email }}">
              </div>
            </div>
          </div>
        <div class="two fields">
          <div class="field">
            <label>State</label>
            <select class="ui fluid dropdown" name="state" required>
              <option value="{{ data.state }}">State</option>
            <option value="dhaka">Dhaka</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
          
            </select>
          </div>
          <div class="field">
            <label>Service Type</label>
            <select class="ui fluid dropdown" name="service-type" value="{{ data.servicetype }}" required>
              <option value="">Service Type</option>
            <option value="bua">Bua</option>
            <option value="wifi-dis">Wifi/Dis</option>
            <option value="meal">Meal</option>
            <option value="others">Others</option>
            
          
            </select>
          </div>
          
        </div>
        <div class="ui form">
            <div class="field">
              <label>Description</label>
              <textarea name="description" required value="">{{ data.description }}</textarea>
            </div>
            
             </div>
          </div>
        </div>
        
        
         
          
    
        <div ><input class="ui button" tabindex="0" type="submit" style="margin-top: 20px;"></div>
      </form>
</body>
</html>