{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searching JOB</title>
</head>
<body>
    {% for i in data %}
    <div class="card-body">
    <h5 class="card1" style="font-family: arial; font-weight: bold; font-size: 17px;">Job Title : {{ i.job_title }}</h5>
    <h5 class="card2" style="font-family: arial; font-weight: bold; font-size: 17px;">Job Description : {{ i.job_description }}</h5>
    <h5 class="card3" style="font-family: arial; font-weight: bold; font-size: 17px;">Salary : {{ i.salary }}</h5>
    <p>......................................................</p>
    <br>
    </div>
    {% endfor %}

</body>
</html>
