<a href="{% url 'shop:seeAllPost' %}?category=Education"><input type="submit" value="Education"></a>
<a href="{% url 'shop:seeAllPost' %}?category=Mobile"><input type="submit" value="Mobile"></a>
<a href="{% url 'shop:seeAllPost' %}?category=Electronics"><input type="submit" value="Electronics"></a>
<a href="{% url 'shop:seeAllPost' %}?category=HomeandLiving"><input type="submit" value="Home and Livings"></a>
<a href="{% url 'shop:seeAllPost' %}?category=BoysFashion"><input type="submit" value="Boys' Fashion"></a>
<a href="{% url 'shop:seeAllPost' %}?category=GirlsFashion"><input type="submit" value="Girls' Fashion"></a>
<a href="{% url 'shop:seeAllPost' %}?category=Grocery"><input type="submit" value="Grocery"></a>
<a href="{% url 'shop:seeAllPost' %}?category=Others"><input type="submit" value="Others"></a>
